* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
    margin-left: 7%;
    margin-right: 7%;
}

body {
    color: #ededed;
    /* background-color: rgb(1, 20, 50); */
    background: #081b29;



}

.header {
    position: fixed;
    height: 70px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px 0px 0px;
    color: #fff;
    background: #081b29;
    display: inline-block;
    /* justify-content: space-between; */
    /* align-items: center; */
    z-index: 100;
}

.header.sticky {
    background: #051129;
}

.logo {
    position: relative;
    margin-right: 35px;
    margin-left: 30px;
    float: left;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    transition-delay: 1s;
    animation: slideRight 1s ease forwards;


}

.menu i {
    /* color: #00eeff; */
    float: right;
    font-size: 2rem;
    display: none;
}

.navbar {
    float: right;
    display: flex;
    flex-direction: row;
}

.navbar a {
    /* display: flex; */
    /* flex-direction: row; */
    /* display: none; */
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 15px;
    transition: 1s ease-out;
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
    animation-delay: calc(.2s*var(--i));

}

.navbar a:hover {
    color: #0ef;
}

.navbar a::after {
    content: '';
    position: absolute;
    width: calc(100% - 0px);
    /* Adjusted width to match its container */
    transform: scaleX(0);
    height: 2px;
    top: 30px;
    bottom: 0;
    left: 0px;
    /* Adjusted left position for centering */
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navbar a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
    .navbar a::after {
        width: 25%;
        /* Set width to 20% */
        left: 38%;
        /* Centering the line horizontally */
        transform-origin: bottom left;
        /* Adjusting transform origin */
        bottom: 5px;
        /* Adjusted bottom position */
        top: auto;
        /* Resetting top position */
        content: '';
        /* Resetting content property */
        height: 2px;
        /* Resetting height property */
        background-color: #0087ca;
        /* Resetting background color */
        position: absolute;
        /* Resetting position property */
        transition: transform 0.25s ease-out;
        /* Resetting transition property */
    }
}

@media (max-width:824px) {


    .navbar {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        /* color: #0ef; */
        top: 70px;
        width: 100%;
        backdrop-filter: blur(5px);
        background-color: #051129bd;
        float: right;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
        animation: slidebottom 0.5s ease forwards;



    }

    .navbar a {
        width: 70%;
        float: right;
        height: 30px;
        /* display: flex; */
        justify-content: center;
        text-align: center;
        font-size: 15px;
        /* color: #0ef; */
        /* border-bottom: 1px solid rgb(221, 60, 60); */
    }

    .menu {
        display: block;

    }

    .menu i {
        display: block;
    }


    /*  */
    /* .anavbar .sshow i {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        margin-left: 35px;
        transition: 1s ease-out;
        opacity: 0;
        animation: slideTop .3s ease forwards;
        animation-delay: calc(.2s*var(--i));
    } */
    /* .sshow > i{
       
        display: flex;
        flex-direction: column;
        
        font-size: 25px;
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        margin-left: 35px;
        transition: 1s ease-out;
        opacity: 0;
        animation: slideTop .3s ease forwards;
        animation-delay: calc(.2s*var(--i));
    } */

}

.home {
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: rgba(52, 52, 255, 0.842); */
    background-position: center;
    display: grid;
    align-items: center;
    padding: 0% 0% 0;
    grid-template-columns: repeat(2, minmax(0%, auto));
    gap: 70px;


}

.home-content {
    order: 1;
    font-size: 32px;
    font-weight: 700;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slidebottom 1s ease forwards;
    /* animation-delay: 0s; */
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    /* margin: 5px 0; */
    opacity: 0;
    transition-delay: 1s;
    animation: slideRight 1s ease-out forwards;

}


.home-content h3:nth-last-of-type(1) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: 0s;
}

.home-content h3 span {
    color: #0ef;
}

.home-content p {
    font-size: 20px;
    font-style: italic;
    margin: 0 6px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    transition-delay: 1s;
}

.home-sci {
    margin-top: 20px;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s*var(--i));

}

.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 50px #0ef;
}

.btn-box {
    margin-top: 30px;
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;

}

.btn-box:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;

}

.propic {
    order: 2;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 80%px;
    border-radius: 0%;
    overflow: hidden;
}

.propic img {
    width: 100%;
    /* Adjust width to make it smaller */
    height: 100%;
    /* Adjust height to make it smaller */
    border-radius: 50%;

}


@media (max-width: 824px) {
    .home-content {
        order: 2;
        margin-top: -60px;
    }

    .propic {
        display: flex;
        justify-content: baseline;
        align-items: baseline;
        width: 100%;
        order: 1;
        margin-left: auto;
        /* Aligning the profile picture to the end of the container */
        /* margin-top: auto; */
    }

    .propic img {
        width: 80%;
        /* Adjust image size if needed */
        /* Adjust image size if needed */
        border-radius: 50%;
        /* Ensuring a circular shape */
        overflow: hidden;
        /* Hides any overflowing content */
    }

    .home {
        padding-top: 20%;
        grid-template-columns: repeat(1, minmax(0%, auto));
        gap: 0;
    }



    .home-content h3 {
        font-size: 18px;
        line-height: 40px;
    }

    .home-content h1 {
        font-size: 25px;
        line-height: 40px;
    }

    .home-content p {
        font-size: 15px;
        font-style: italic;
    }


}

.about {
    margin-top: 100px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3.0rem;
}

.about-img img {
    /* padding-bottom: 20%; */
    /* padding-left: 20%; */
    max-width: 530px;
    height: auto;
    width: 100%;
    border-radius: 8px;

}

.about-text h2 {
    font-size: 60px;
    margin: 20px;
}

.about-text h2 span {
    color: #0ef;
}

.about-text h4 {
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 30px;
}

.about-text p {
    padding: 20px 20px;
    color: aliceblue;
    font: 20px;
    line-height: 1.5;
    margin-bottom: 4rem;
}

@media (max-width:480px) {
    .about {
        /* margin-top: 150px; */

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0rem;
    }

    .about-img img {
        /* padding-bottom: 20%; */
        /* padding-left: 20%; */
        /* max-width: 530px; */
        /* width: 300pxpx; */
        /* height: auto; */
        font-size: large;
        width: 100%;
        border-radius: 8px;
    }

    .about-text h2 {
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-btn {}


}

#services {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.sub-title {
    margin-top: 150px;
    text-align: center;
    font-size: 60px;
    /* padding-bottom: 90px; */
}

.sub-title span {
    color: #0ef;
}

.container {
    padding: 30px;
}

.services-list {
    /* display: flex; */
    /* flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 60px;
}

.services-list div {
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-radius: 10px;
    transition: background 0.5s transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
        1px 1px 40px #012290f7;
}

/* .academics:hover{
    will-change: transform;
    transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05,1.05,1.05);
} */

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.read {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-optical-sizing: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef;
}

.read:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;
}

.services-list div:hover {
    /* transform: translateY(-10px); */
    /* will-change: transfornm; */
    transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05, 1.05, 1.05);
}



.skill-container {
    /* height: 700px; */
    display: flex;
    flex-wrap: wrap;
}

.container1 {
    /* display: none; */
    /* margin-top: 30px; */
    /* width: 600px;
    height: 700px;
    padding: 75px 90px;
    margin-left: 70px; */
}

.subject {
    display: flex;
    flex: 0.5;
    flex-direction: column;
    align-items: center;
}


.technical-bars {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
}

.bar {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 20px;
    display: inline;
}

.bar i {
    font-size: 30px;

}

.progress-line {
    align-items: center;
    width: 80%;
    height: 5px;
    background-color: #000000;
    border-radius: 5px;
    overflow: hidden;
}

.progress-line span {
    display: block;
    height: 100%;
    border-radius: 5px;
    /* border-radius: 10px; */
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line span.active {
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

@media (max-width: 760px) {
    .heading1 {
        font-size: 15px;
        margin-bottom: 20px;
        margin-top: 30px;
        text-align: center;
    }

    .subject {
        margin-top: 60px;
    }
}

/* Adjust the colors and styling for each skill */
.html span {
    background: #00eeff;
    /* HTML color */
    width: 75%;
}

.css span {
    background: #00eeff;
    /* CSS color */
    width: 65%;
}

.javascript span {
    background: #00eeff;
    /* JavaScript color */
    width: 60%;
}

.react span {
    background: #00eeff;
    /* React color */
    width: 40%;
}

.c-plus-plus span {
    background: #00eeff;
    /* C/C++ color */
    width: 89%;
}

.java span {
    background: #00eeff;
    /* Java color */
    width: 70%;
}

/* 
.progress-line span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
} */

.progress-line .html span::after {
    content: "90%";
}

.progress-line .css span::after {
    content: "90%";
}

.progress-line .javascript span::after {
    content: "90%";
}

.progress-line .react span::after {
    content: "90%";
}

.progress-line .c-plus-plus span::after {
    content: "90%";
}

.progress-line .java span::after {
    content: "90%";
}

/*
.progress-line span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
} 
*/

.percentage-label {
    position: absolute;
    top: -20px;
    /* Adjust the position of the label */
    left: 50%;
    transform: translateX(-50%);
}




.container1 {
    text-align: center;
    display: flex;
    flex: 0.5;
    flex-direction: column;
}

.heading1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.radial-bars {
    /* margin-top: 68px; */

    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(2, minmax(0%, auto));
}



.radial-bar {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 20px;
    animation: animate-bar 1s 1s linear forwards;
}

@media (max-width:460px) {
    .radial-bars {
        /* margin-top: 68px; */
        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat(1, minmax(0%, auto));
    }
}

@keyframes animate-bar {
    100% {
        stroke-dasharray: 0;
    }
}

svg {
    transform: rotate(-90deg);
    display: flex;
    flex: 0.2;
}

.progress-bar {
    fill: none;
    stroke: #262626;
    /* color of the circle (unfilled part) */
    stroke-width: 15;
}

.path {
    fill: transparent;
    stroke-width: 10;
    stroke-linecap: round;
    transform-origin: center;
    transform: rotate(0deg);
    transition: stroke-dasharray 1s 1s ease-out stroke-dashoffset 0.8s ease-in-out;
}


.path-1 {
    animation: animate-path1 1s 1s linear forwards;
}

.path-2 {
    animation: animate-path2 1s 1s linear forwards;
}

.path-3 {
    animation: animate-path3 1s 1s linear forwards;
}

.path-4 {
    animation: animate-path4 1s 1s linear forwards;
}

@keyframes animate-path1 {
    100% {
        /* stroke-dashoffset: 50; */
        stroke-dasharray: 400;
        stroke: #0ef;

    }
}

@keyframes animate-path2 {
    100% {
        /* stroke-dashoffset: 175; */
        stroke-dasharray: 250;
        stroke: #0ef;

    }
}

@keyframes animate-path3 {
    100% {
        /* stroke-dashoffset: 125; */
        stroke-dasharray: 340;
        stroke: #0ef;

    }
}

@keyframes animate-path4 {
    100% {
        /* stroke-dashoffset: 75; */
        stroke: #0ef;
        stroke-dasharray: 380;
    }
}


.parcentage {
    position: absolute;
    text-align: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: #ababab;
    z-index: 1;
    /* Ensure text is above the circle */
}


.tect {
    margin-top: 10px;
    font-size: 16px;
    color: #b1b1b1;
    font-size: 17px;
    font-weight: bold;
}


.main-text {
    padding-top: 0px;
    margin-top: 100px;
}

.main-text h2 {
    font-size: 70px;
    line-height: 1;
    text-align: center;
    margin-bottom: 30px;
}

.main-text h2 span {
    color: #0ef
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(459px, auto));
    /* gap: 1rem; */
    justify-content: space-evenly;
}

.row {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin-top: 1rem;
    cursor: pointer;
}

.row img {
    width: 100%;
    border-radius: 8px;
    display: block;
    transform: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #0ef);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer h5 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p {
    color: #000;
    font-size: 1rem;
    line-height: 1;
}

.layer i {
    color: red;
    margin-top: 20px;
    font-size: 20px;
    background: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover img {
    transform: scale(1.1);
}

.row:hover .layer {
    height: 100%;
    backdrop-filter: blur(5px);
}

@media (max-width:760px) {
    .portfolio-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(60%, auto));
        gap: 2rem;
        justify-content: space-evenly;
    }

}


.contact {
    /* display: grid; */
    /* grid-template-columns: repeat(2, pf); */
    display: flex;
    align-items: center;
    display: 3rem;
    padding-left: 30px;
    margin-top: 200px;
}

@media (max-width:760px) {
    .contact {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(60%, auto));
        gap: 2rem;
        justify-content: space-evenly;
    }

}



.contact-text h2 {
    font-size: 60px;
    line-height: 1;
    text-align: center;
}

.contact-text h2 span {
    color: #0ef;
}

.contact-text h4 {
    margin: 15px 0;
    color: rgb(216, 226, 225);
    font-size: 20px;
    font-weight: 600;
}

.contact-text p {
    color: rgb(176, 176, 175);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list {
    margin-bottom: 3rem;
}

.contact-list li {
    margin-bottom: 10px;
    display: block;
}

.contact-list i {
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
    margin: 10px;
}

.contactli a:hover {
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}

.contact-icons {
    margin-bottom: 30px;
}

.contact-form form {
    position: relative;
    border-radius: 40px;
}

.contact-form form input,
form textarea {
    border: none;
    border-radius: 10px;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}

.contact-form textarea {
    resize: none;
    height: 220px;
}

.contact-form form .send {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-optical-sizing: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    cursor: pointer;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef;
}

.contact-form form .send:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;
}



.last-text p {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgb(7, 83, 96);
    font-weight: 300;
    margin-top: 70px;
}

.top {
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
    display: none;
}

.top i {
    color: #000000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}









@keyframes slideRight {
    0% {
        transform: translateX(-200px);
        opacity: 0;
        /* font-size: 0px; */
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
        /* font-size: 30px; */

    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(200px);
        opacity: 0;
        /* font-size: 0px; */
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
        /* font-size: 30px; */

    }

}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slidebottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
